body{
    background-image: url(https://raw.githubusercontent.com/ermelsu/AgendamentoCECAPE/main/17929.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
div_1{
            background-color: red;
            margin-bottom: 20px;
}
footer {
    padding: 60px;
    text-align: center;
    background: #1A1851;
    color: white;
    font-size: 30px;
  }
